body {
    max-width: 750px;
    margin-right: auto;
    margin-left: auto;

    font-family: Roboto, "Helvetica Neue", Arial, sans-serif;
    font-weight: 300;

    color: rgb(209, 205, 199);
    background-color: rgb(24, 26, 27);
}

h1 {
    font-size: 3rem;
    font-weight: 400;
}

h2 {
    font-size: 1rem;
}

table {
    border-collapse: collapse;
    width: 100%;
    font-family: Arial, sans-serif;
}

th,
td {
    border-top: 1px solid #555555;
    padding: 8px;
    text-align: center;
}

td:nth-child(-n + 1) {
    text-align: left;
}


.options{
    display: flex;
    justify-content: space-between;
    width: 90%;
    max-width: 700px;
    padding: 5px 20px;
    /* border: 1px dotted white; */
    border-radius: 30px;
}

.options > div {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    gap: 10px;
}

.options label{
    background-color: black;
    color: white;
    border: 1px solid;
    padding: 2px 10px;
    gap: 10px;
    border-radius: 30px;
    cursor: pointer;
}

.options input{
    display: none;
}

.options input:checked + label{
    font-weight: bolder;
    background-color: white;
    color: black;
}

/* th,
td {
    border: 1px solid #ddd;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
    text-align: left;
}

tr:nth-child(-n + 1) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #eaf6ff;
} */



